/*Font Family*/

@font-face {
	font-family: 'AvenirBook';
	src: url('../fonts/AvenirBook.eot');
	src: url('../fonts/AvenirBook.woff') format('woff'), 
		 url('../fonts/AvenirBook.ttf') format('truetype'), 
		 url('../fonts/AvenirBook.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*Font Family*/

/*Global CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body, html {
	font-family: 'AvenirBook';
	font-size: 17px;
	font-style: normal;
	line-height: 1.5em;
	letter-spacing: -.01em;
	color: #333333;
	width: 100% !important;
	height: 100% !important;
    
}
.spacing {
	padding: 80px 0;
}

ul {
	list-style: none;
}

ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
p {
	margin-bottom: 0;
	font-size: 17px;
	line-height: 1.5em;
}
.margin-auto {
    margin: 0 auto;
}
.form-control {
	border-radius: 0;
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #555;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #555;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #555;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #555;
}
/*Global CSS*/


/*Headings*/
h1 {
	font-size: 42px;
	font-weight: 500;
	line-height: 1.3em;
}
h2 {
	font-size: 28px;
	font-weight: 200;
	line-height: 1.1em;
}
.main-title {
/*	font-size: 20.4px;*/
	line-height: 1.5em;
	font-weight: 600;
	margin: 20px 0;

}
.banner-section .main-title, .third-section .main-title {
    width: 60%;
}
.third-section .main-title {
    margin: 20px auto;
}
/*Headings*/

/*Colors*/
.yellow {
	color: #f39019;
}
.yellow-bg {
	background: #F39019;
	color: #fff;
}
.gray-bg {
	background: #f3f3f3;
}
/*Colors*/


/*Button*/
.btn, .btn:hover {
    color: #fff;
}
.primary-btn {
	font-size: 16.15px;
	background:  #19AEF3;
    padding: 24px 19px;
}
.primary-btn:hover {
	background: #55C0F1;
}

.warning-btn {
	font-size: 18px;
	border-radius: 5px;
	background: #F39019;
    padding: 25px 19px;
}
.warning-btn:hover {
	background: #F5A651;
} 
.gray-btn {
    background: #5b6066;
    font-size: 16.15px;
    padding: 24px 19px;
}
.gray-btn:hover{
    background: #76797F;
    
}
.sharebee-section4 .banner-btn .primary-btn,
.third-section .banner-btn .gray-btn {
    margin: 0 auto;
    float: none;
}
/*Button*/


/* Banner and Banner Section */
.banner {
	display: table;
	width: 100%;
	height: 100vh;
	color: #fff;
	background: url(../img/banner-img.png) no-repeat center center fixed;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.banner .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.banner .banner-text {
	padding: 20px 0 0;
}

.banner-btn {
    margin: 20px 0;
}

.banner-section .price-btn {
    padding: 10px 20px;
}

.banner-section .price {
    font-size: 28px;
    font-weight: 600;
}

/* Banner and Banner Section */


/*Third Section*/
.center-img {
	margin: 0 auto;
	text-align: center;
}
.third-section ol {
    list-style-type: decimal; 
    display: inline-block;
    margin: auto;
}
/*Radio Buttons*/
.radio-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-label input {
    position: absolute;
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #4a4a4a;
}
.radio-label:hover input ~ .checkmark {
    background-color: #ccc;
}
.radio-label input:checked ~ .checkmark {
    background-color: #F39019;
    border: 1px solid #f39019;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radio-label input:checked ~ .checkmark:after {
    display: block;
}
.radio-label .checkmark:after {
 	top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    transform: translate(-50%, -50%);
}
/*Radio Buttons*/
/*Third Section*/


/*Sharebee Section4*/
.ques-ans h4 {
	font-weight: 600;
}
.ques-ans li {
	padding: 10px 0;
}
/*Sharebee Section4*/


 